<!doctype html>
<title>{% block title %}{% endblock %} - Flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
{% block css %}{% endblock %}
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/crud/add">Add user</a></li>
    </ul>
</nav>
<section class="content">
    {% with messages =  get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="messages">
        {% for category, message in messages %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <header>
        {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}
</section>